@import "../../global.scss";

.about{
    display: flex; 
    flex-direction: column;
    align-items: center;
    
    
    @include mobile{
        padding-top: 70px;
    
    }

    .word-waves h1{
        position: absolute;
        
        color: #fff;
     
        transform: translate(-50%, -50%);
    }
    
    .word-waves h1:nth-child(1){
        color: transparent;
        -webkit-text-stroke: 0.3px  crimson;

    }

    .word-waves h1:nth-child(2){
        color: crimson;
        -webkit-text-stroke: 1px crimson;
        animation: deneme 3s ease-in-out infinite
    }

    @keyframes deneme {
        0%, 100%{
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
        }
    
        50%{
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
        }
    }
    h1{
        font-size: 40px;
        margin-top: 40px;

        @include mobile{
        margin-top: 20px;
        font-size: 40px;
        }
      
    }
    .info{
        margin-top: 80px;
        padding: 0 130px;
           
       @include mobile{
        
        padding: 10px;
       }
        p{
             
            
            text-align: center;       
            font-size: 25px;
            line-height: 50px;
            
        }
    }
    

    
}